:root {
  --control-corner-ratio: 6;
  --font-ui: 'DM Sans', sans-serif;
  --font-mono: 'DM Mono', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: var(--font-ui);
}
